.fa-bell {
    color: #FF8F00;
}

.my_sidebar {
    height: calc(100vh - 66px);
}

.mobile_logo {
    width: 40px
}

.aside {
    width: 70px;
    background-image: url("../img/sidebar-bg.png");
    background-color: #051E34;
}

.main {
    width: calc(100% - 70px);
    max-height: calc(100vh - 66px);
}

/* Media queries */
@media screen and (min-width:992px) {
    .aside {
        width: 150px;
    }

    .main {
        width: calc(100% - 150px);
    }

    .my_nav {
        min-height: 66px;
    }

    .offcanvas.offcanvas-end {
        width: 50%;
    }

}

/* test avatar img */
.avatar {
    width: 25px;
}

/* over buttons aside */
#aside .my_aside_btn {
    background-color: transparent;
    transition: background-color 0.2s ease;
}

#aside .my_aside_btn:hover {
    background-color: grey;
    cursor: pointer;
}

#boolean_row .my_btn_boolean_row {
    color: white;
    background-color: #165bba;
}

.my_search_color {
    background-color: #E5E5E5;
    color: grey;
}

.my_action_btn {
    border-color: grey;
    color: grey
}

.my_action_btn:hover {
    background-color: white;
    color: grey;
}