/* test heights */
.my_color1 {
    background-color: aqua;
}

.my_color2 {
    background-color: palegreen;
    height: calc(100vh - 54px);
}

#boolean_row {
    background-color: orange;
    height: 100px;
    /* #1B72E8; */
}

#next_class {
    background-color: burlywood;
    height: 400px;
}

#to_do {
    background-color: cornflowerblue;
    height: 150px;
}

#faq {
    background-color: greenyellow;
    height: 200px;
}

#active_users {
    background-color: darkorange;
    height: 500px;
}

*[class^="col-"] {
    border: 1px solid black;
}

.my_sidebar {
    height: calc(100vh - 54px);
}


.fa.solid {
    width: 20px !important;

}

.mobile_logo {
    width: 40px
}

.aside {
    width: 70px;
}

.main {
    width: calc(100% - 70px);
}





/* Media queries */
@media screen and (min-width:992px) {
    .aside {
        width: 150px;
    }

    .main {
        width: calc(100% - 150px);
    }
}